/Code/Batch Loading/Histograms/*
/Code/Batch Loading/Histories/*
/Code/Batch Loading/Loss Curves/*
/Code/Batch Loading/Models/*
/Code/Batch Loading/Plots/*
/Code/Batch Loading/Currently used/labels/*
/Code/Batch Loading/Currently used/lenses/*
