/Code/Batch Loading/Histograms/*
/Code/Batch Loading/Histories/*
/Code/Batch Loading/Loss Curves/*
/Code/Batch Loading/Models/*
/Code/Batch Loading/Plots/*
/Code/Batch Loading/Currently used/labels/*
/Code/Batch Loading/Currently used/lenses/*
.ipynb_checkpoints
/Code/Batch Loading/Currently used/__pycache__/*
/Code/Batch Loading/Currently used/job_outputs/*
/Code/Batch Loading/Currently used/wandb/*
*.out
